:root {
  --primary-color: #333;
  --text-color: #fff;
  --link-color: #ff0;
  --background-color: #555;
  --semi-transparent-background: rgba(0, 0, 0, 0.5);
  --home-background: url("../img/theband.jpg");
  --music-background: url("../img/music.jpg");
  --contact-background: url("../img/contact.jpg");
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: visible;
}
header,
footer {
  flex-shrink: 0;
  min-height: 3rem; /* Adjust based on your design needs */
}
header {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
}
nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
}

a {
  color: var(--link-color);
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 1.5em;
}

p,
a,
li {
  font-size: 1em;
}
main {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(
    auto,
    auto
  ); /* Adjusted for actual header and footer height */
  gap: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: calc(100vh - 6rem);
}
section {
  padding: 0;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &#home {
    background-image: var(--home-background);
  }
  &#music {
    background-image: var(--music-background);
    div.wrapper {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      &:hover {
        background-color: var(--semi-transparent-background);
      }
      h2 {
        display: none;
      }
      div.music {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
        padding: 20px;
        article.song:hover {
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
  &#contact {
    background-image: var(--contact-background);
    div.wrapper {
      padding: 3rem 5rem;
      min-height: 35vh;
    }
  }
  div.wrapper {
    transition: all 0.3s ease;
    background-color: var(--semi-transparent-background);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 35vh auto;
    max-width: 500px;
    &:hover {
      background-color: var(--background-color);
    }
  }
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
  position: fixed;
  a {
    color: var(--text-color);
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu icon */
    cursor: pointer;
    position: absolute;
    right: 1rem; /* Adjust this value if necessary */
    top: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    z-index: 1000; /* Ensure it's above other content */
  }
  nav {
    display: none; /* Hide the default nav on mobile */
    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3rem; /* Adjust based on actual header height */
      left: 0;
      background-color: var(--primary-color);
      width: 100%;
      padding: 1rem;
      a {
        font-size: 1.2em;
        padding: 0.5rem 0;
      }
    }
  }
  /* When the hamburger menu is active, display the nav items vertically */
  section {
    &#home div.wrapper {
      margin: 25vh auto; /* Adjust content vertical positioning */
    }
    &#music div.wrapper {
      margin: 0vh auto; /* Adjust content vertical positioning */
    }
  }
  div.music article.song {
    transform: none; /* Disable hover effect that might not work well on touch devices */
  }
  h2 {
    font-size: 1.2em;
  }
  p,
  a,
  li {
    font-size: 0.9em; /* Adjust text size for readability */
  }
  .wrapper {
    margin: 20vh auto; /* Adjust content vertical positioning */
    padding: 1rem; /* Consistent padding */
  }
  img {
    width: 100%; /* Ensure images are not larger than the screen */
    height: auto; /* Maintain aspect ratio */
  }
}

/* Styles for larger screens */
@media (min-width: 769px) {
  .hamburger-menu {
    display: none; /* Hide hamburger menu icon on larger screens */
  }
}
